<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ContentMapper">


    <resultMap id="Result" type="com.example.demo.bean.dto.Content">
        <result property="id" column="id"/>
        <result property="tid" column="tid"/>
        <result property="uid" column="uid"/>
        <result property="datetime" column="time"/>
        <result property="desc" column="description"/>
        <result property="details" column="details"/>
        <result property="creationdt" column="creationdt"/>
        <result property="updatedt" column="updatedt"/>
        <result property="creationuid" column="creationuid"/>
        <result property="updateuid" column="updateuid"/>
    </resultMap>

    <select id="getByid" resultMap="Result">
           select id,tid,uid,time ,description,details,creationdt,updatedt from bcontent
          WHERE id =#{id}
 </select>


    <select id="getContents" resultMap="Result">
          select id,tid,uid,time ,description,details,creationdt,updatedt from bcontent
</select>


    <select id="getBugsByPage" parameterType="com.example.demo.bean.po.Page" resultMap="Result">
          select id,tid,uid,time ,description,details,creationdt,updatedt from bcontent
          desc limit #{starter}, #{pageSize}
</select>


    <select id="getBugsByPageByConditions" parameterType="com.example.demo.bean.po.Request" resultMap="Result">
        SELECT BUG_ID,BUG_DESCRIPTION,BUG_RCA,BUG_SOLUTION,BUG_CREATIONDT,BUG_UPDATEDT,
        BUG_CREATIONUID,BUG_UPDATEUID FROM BBUG where 1=1
        <if test = "pname!= null"> and BUG_PROJECT_ID = #{pname} </if>
        <if test = "crnum!= null">and BUG_CR_NUM = #{crnum} </if>
        <if test = "tasknum!=null">and BUG_TASK_NUM = #{tasknum} </if>
        <if test = "developer!=null">and BUG_ASSIGNEE_ID = #{developer} </if>
        <if test = "tester!= null">and BUG_TESTER_ID = #{tester} </if>
        order by BUG_ID desc limit #{starter}, #{pageSize}
    </select>

    <select id="countAll" resultType="int">
     SELECT count(*) FROM BBUG where BUG_DELETED_FLAG=0
	</select>

    <insert id="insert" parameterType="com.example.demo.bean.dto.Content">
        insert bcontent(tid,uid,time ,description,details,creationdt,updatedt)
        values(#{tid} ,1,now(),'大学','大学之道在明明德',
        #{creationdt,jdbcType=LONGVARCHAR}, #{updatedt,jdbcType=LONGVARCHAR})
</insert>


    <update id="updateById" parameterType="com.example.demo.bean.dto.Content">
        update BBUG set BUG_PROJECT_ID = #{pname}
,BUG_CR_TYPE_ID = #{crname}
,BUG_CR_NUM = #{crnum,jdbcType=LONGVARCHAR}
,BUG_TASK_NUM = #{tasknum,jdbcType=LONGVARCHAR}
,BUG_TYPE_ID = #{oname}
,BUG_DESCRIPTION = #{description,jdbcType=LONGVARCHAR}
,BUG_RCA = #{rca,jdbcType=LONGVARCHAR}
,BUG_SOLUTION = #{solution,jdbcType=LONGVARCHAR}
,BUG_ASSIGNEE_ID = #{developer}
,BUG_TESTER_ID = #{tester}
,BUG_UPDATEDT = #{updatedt,jdbcType=LONGVARCHAR}
,BUG_UPDATEUID = #{updateuid,jdbcType=LONGVARCHAR}
,BUG_STATUS_ID = #{bugStatus}
where bug_id = #{id}
    </update>


</mapper>
